nav {
  background: linear-gradient(90deg, #820404 33.43%, #c24242 74.37%);
}

.navbar-brand img {
  width: 6rem;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 1rem 3%;
  background: url(../peta.png);
  background-size: cover;
}
