nav {
  background: linear-gradient(90deg, #820404 33.43%, #c24242 74.37%);
}

.navbar-brand img {
  width: 6rem;
}

body {
  background: url('../peta.png');
  background-size: cover;
}

.deskripsi {
  font-size: 1rem;
  position: absolute;
  justify-content: space-around;
  text-align: left;
  margin-top: 0;
  margin-left: 48rem;
  margin-bottom: 1rem;
}

.container2 {
}
