nav {
    background: linear-gradient(90deg, #820404 33.43%, #c24242 74.37%);
  }
  
.navbar-brand img {
    width: 6rem;
  }
  
body{

    background: url("img/indonesia.png");
    background-size: cover;

}