* {
    scroll-behavior: smooth;
 
  }
  
  nav {
    background: linear-gradient(90deg, #820404 33.43%, #c24242 74.37%);
  }
  
  .nav-link-active{

    color: white;
    text-decoration: none;

  }

  .nav-link-profile {
    display: block;
    padding: 0;
    /* padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x); */
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    color: white;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

  .navbar-brand img {
    width: 8rem;
  }
  
  .nav-link {
    color: rgb(200, 200, 200);
  }
  
  .nav-link:hover {
    color: white;
  }
  
  .nav-profile {
    position: absolute;
    right: 30px;
  }

  element.style {
  }
  .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
      display: flex;
      flex-wrap: inherit;
      align-items: center;
      justify-content: space-between;
  }
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      --bs-gutter-x: -11.5rem;
      --bs-gutter-y: -8;
      width: 100%;
      padding-right: 46px;
      padding-left: 41px;
      margin-right: auto;
      margin-left: auto;
  }
  * {
      scroll-behavior: smooth;
  }
  *, ::after, ::before {
      box-sizing: border-box;
  }
  user agent stylesheet
  div {
      display: block;
  }
  .navbar {
      --bs-navbar-padding-x: 0;
      --bs-navbar-padding-y: 0.5rem;
      --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
      --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
      --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
      --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
      --bs-navbar-brand-padding-y: 0.3125rem;
      --bs-navbar-brand-margin-end: 1rem;
      --bs-navbar-brand-font-size: 1.25rem;
      --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
      --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
      --bs-navbar-nav-link-padding-x: 0.5rem;
      --bs-navbar-toggler-padding-y: 0.25rem;
      --bs-navbar-toggler-padding-x: 0.75rem;
      --bs-navbar-toggler-font-size: 1.25rem;
      --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
      --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
      --bs-navbar-toggler-border-radius: var(--bs-border-radius);
      --bs-navbar-toggler-focus-width: 0.25rem;
      --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  }
  .bd-example {
      --bd-example-padding: 1rem;
      position: relative;
      padding: var(--bd-example-padding);
      margin: 0 -1.5rem 1rem;
      border: solid var(--bs-border-color);
      border-width: 1px 0;
  }
  body {
      margin: 0;
      font-family: var(--bs-body-font-family);
      font-size: var(--bs-body-font-size);
      font-weight: var(--bs-body-font-weight);
      line-height: var(--bs-body-line-height);
      color: var(--bs-body-color);
      text-align: var(--bs-body-text-align);
      background-color: var(--bs-body-bg);
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: transparent;
  }
  :root, [data-bs-theme="light"] {
      --base02: #c8c8fa;
      --base03: #565c64;
      --base04: #666;
      --base05: #333;
      --base06: #fff;
      --base07: #13795b;
      --base08: #c6303e;
      --base09: #087990;
      --base0A: #6f42c1;
      --base0B: #084298;
      --base0C: #084298;
      --base0D: #6f42c1;
      --base0E: #ab296a;
      --base0F: #333;
  }
  :root {
      --docsearch-primary-color: var(--bd-violet);
      --docsearch-logo-color: var(--bd-violet);
  }
  :root, [data-bs-theme="light"] {
      --bd-purple: #4c0bce;
      --bd-violet: #712cf9;
      --bd-accent: #ffe484;
      --bd-violet-rgb: 112.520718,44.062154,249.437846;
      --bd-accent-rgb: 255,228,132;
      --bd-pink-rgb: 214,51,132;
      --bd-teal-rgb: 32,201,151;
      --bd-violet-bg: var(--bd-violet);
      --bd-toc-color: var(--bd-violet);
      --bd-sidebar-link-bg: rgba(var(--bd-violet-rgb), .1);
      --bd-callout-link: 10,88,202;
      --bd-callout-code-color: #ab296a;
      --bd-pre-bg: var(--bs-tertiary-bg);
  }
  :root {
      --bs-breakpoint-xs: 0;
      --bs-breakpoint-sm: 576px;
      --bs-breakpoint-md: 768px;
      --bs-breakpoint-lg: 992px;
      --bs-breakpoint-xl: 1200px;
      --bs-breakpoint-xxl: 1400px;
  }
  :root {
      --bs-breakpoint-xs: 0;
      --bs-breakpoint-sm: 576px;
      --bs-breakpoint-md: 768px;
      --bs-breakpoint-lg: 992px;
      --bs-breakpoint-xl: 1200px;
      --bs-breakpoint-xxl: 1400px;
  }
  :root, [data-bs-theme=light] {
      --bs-blue: #0d6efd;
      --bs-indigo: #6610f2;
      --bs-purple: #6f42c1;
      --bs-pink: #d63384;
      --bs-red: #dc3545;
      --bs-orange: #fd7e14;
      --bs-yellow: #ffc107;
      --bs-green: #198754;
      --bs-teal: #20c997;
      --bs-cyan: #0dcaf0;
      --bs-black: #000;
      --bs-white: #fff;
      --bs-gray: #6c757d;
      --bs-gray-dark: #343a40;
      --bs-gray-100: #f8f9fa;
      --bs-gray-200: #e9ecef;
      --bs-gray-300: #dee2e6;
      --bs-gray-400: #ced4da;
      --bs-gray-500: #adb5bd;
      --bs-gray-600: #6c757d;
      --bs-gray-700: #495057;
      --bs-gray-800: #343a40;
      --bs-gray-900: #212529;
      --bs-primary: #0d6efd;
      --bs-secondary: #6c757d;
      --bs-success: #198754;
      --bs-info: #0dcaf0;
      --bs-warning: #ffc107;
      --bs-danger: #dc3545;
      --bs-light: #f8f9fa;
      --bs-dark: #212529;
      --bs-primary-rgb: 13,110,253;
      --bs-secondary-rgb: 108,117,125;
      --bs-success-rgb: 25,135,84;
      --bs-info-rgb: 13,202,240;
      --bs-warning-rgb: 255,193,7;
      --bs-danger-rgb: 220,53,69;
      --bs-light-rgb: 248,249,250;
      --bs-dark-rgb: 33,37,41;
      --bs-primary-text-emphasis: #052c65;
      --bs-secondary-text-emphasis: #2b2f32;
      --bs-success-text-emphasis: #0a3622;
      --bs-info-text-emphasis: #055160;
      --bs-warning-text-emphasis: #664d03;
      --bs-danger-text-emphasis: #58151c;
      --bs-light-text-emphasis: #495057;
      --bs-dark-text-emphasis: #495057;
      --bs-primary-bg-subtle: #cfe2ff;
      --bs-secondary-bg-subtle: #e2e3e5;
      --bs-success-bg-subtle: #d1e7dd;
  Show All Properties (66 more)
  }
  *, ::after, ::before {
      box-sizing: border-box;
  }
  *, ::after, ::before {
      box-sizing: border-box;
  }
  
  