
/* carousel */

.carousel-item img {
    width: 100% !important;
    height: auto !important;
    filter: brightness(50%) !important;
}



/* caption slide */


/* carousel caption */



.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: -13.75vw;
    left: 15%;
   
    color: #fff;
    text-align: center;
}
.carousel-caption h1 {
    font-size: 3vw !important;
    font-weight: 700 !important;
    font-style: italic !important;
}
.carousel-caption p {
    font-size: 1.2vw !important;
}
.alquran {
    color: #F98820 !important;
}
.shortcourse {
    color: #F98820 !important;
}

/* btn */

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}

footer {
    background-color: rgb(255, 255, 255) !important;
    height: fit-content !important;
}

/* .sosmed a {
    padding: 10px !important;
    background-color: white !important;
    margin: 10px !important;
    border-radius: 50% !important; 
} */
.sosmed {
    padding: 10px !important;
}
.sosmed a {
    padding: 20px !important;
}
.sosmed a i {
    font-size: 2em !important;
    color: rgb(0, 0, 0) !important;
    opacity: 0.9;
}
/* hover effect */

.sosmed a:hover {
    /* background-color: rgb(255, 255, 255) !important; */
    transition: 0.5s !important;
}
.sosmed a i:hover {
    color: rgb(255, 123, 70) !important;
    transition: 0.5s !important;
}
.copyright {
    text-align: center !important;
    padding: 20px !important;
    background-color: rgb(169, 167, 167) !important;
    color: rgb(255, 255, 255) !important;
    font-size: medium !important;
}

.santri {
    opacity: 0.7s !important;
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
    font-weight: 400 !important;
    margin: 0;
}