.scroll{
    position: fixed;
    bottom: 30px;
    right: 100px;
    padding-top: 0px;
    background-color: #1b71f1;
    color: #1b71f1;
    transition: all 0.5s ease 0s;
    width: 0px !important;
    font-size: 40px;
}

.scroll:hover{
    background-color: #f7f7f7;
    color: #000;
}