#academy,
#features {
  padding: 60px 0;
  overflow: hidden;
}

/*--------------------------------------------------------------
# STFQ Academy
--------------------------------------------------------------*/
.academy {
  background-color: #f6f9ff;
}

.academy .content {
  padding: 40px;
}

.academy h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
}

.academy p {
  margin: 15px 0 -15px 0;
  line-height: 24px;
  font-size: 18px;
}

.academy .p2 {
  margin: 15px 0 15px 0;
  line-height: 24px;
  font-size: 18px;
}

/*BUTTON*/
.btn {
  margin-top: auto;
  margin-left: 0 !important;
  color: #fff !important;
}

.btn-daftar {
  background-color: #1b71f1 !important;
  font-size: 1.1em !important;
  width: 30% !important;
  padding-top: 0.2rem !important;
}

a.btn-daftar:hover {
  background-color: blue !important;
  color: #fff !important;
}
.icon-daftar {
  margin-right: 5% !important;
}

.btn-wa {
  font-size: 1.1em !important;
  width: 23% !important;
  background-color: #15d212 !important;
  border: none !important;
  padding-top: 0.2rem !important;
}

.icon-wa {
  margin-right: 5% !important;
}
a.btn-wa:hover {
  background-color: green !important;
  color: #fff !important;
}
