@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@100;300;400;700&display=swap");
@import url("about.css");
@import url("program.css");
@import url("kontak.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("nav2.css");
@import url("footer.css");
/*CSS*/

body {
  background-color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* CONTENT */

.carousel-inner img {
  max-width: 100% !important;
  height: 50rem !important;
}
.carousel-caption {
  text-align: left !important;
}

/* pendaftaran*/
.btn {
  background-color: #f49944;
  margin-left: 1rem;
}

.btn:hover,
.btn:active {
  background-color: #fff !important;
  color: #f49944 !important;
}

.text-center.mb-5 {
  position: relative;
  right: 7rem;
}

hr {
  border-top: 5px solid rgb(255, 255, 255);
  color: #fff;
}

.px-5 {
  position: relative;
  top: 8rem;
}

/*GALERI CSS*/
