@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@100;300;400;700&display=swap");
@import url("about.css");
@import url("program.css");
@import url("kontak.css");
/*CSS*/
body {
  background-color: #fff;
overflow-x: hidden;
}

/*nav */
nav {
  content: "" !important;
  background: rgba(255, 255, 255, 0.7) !important;
  font-weight: bold;
  box-shadow: rgba(92, 92, 92, 0.33) 0 0 0 2px;
}
a.nav-link {
  margin-right: 2rem !important;
}

a.nav-link:hover,
a.nav-link:active {
  color: #f49944 !important;
}

.navbar.nav:hover,
.nav-underline:active {
  color: #f49944 !important ;
}
@media screen and (max-width: 992px) {
  .navbar.nav:hover,
  .nav-underline:active {
    color: #f49944 !important ;
  }
  a.nav-link {
    color: #fff !important;
  }
  a.nav-link:hover,
  a.nav-link:active {
    color: #f49944 !important;
  }
}

/* CONTENT */

.carousel-inner img {
  max-width: 100% !important;
  height: 50rem !important;
}
.carousel-caption {
  text-align: left !important;
}

/* pendaftaran*/
.btn {
  background-color: #f49944;
  margin-left: 1rem;
}

.btn:hover,
.btn:active {
  background-color: #fff !important;
  color: #f49944 !important;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: #f49944 !important;
}

.text-center.mb-5 {
  position: relative;
  right: 7rem;
}

hr {
  border-top: 5px solid rgb(255, 255, 255);
  color: #fff;
}

.px-5 {
  position: relative;
  top: 8rem;
}
