nav {
  content: "" !important;
  background: rgba(255, 255, 255, 0.6) !important;
  font-weight: bold;
  box-shadow: 0 0 0 1px;
}
a.nav-link {
  margin-right: 2rem !important;
}

a.nav-link:hover,
a.nav-link:active {
  color: #f49944 !important;
}

/* CONTENT */

.carousel-inner img{
  max-width: 100% !important;
  height: 50rem !important;
}
.carousel-caption{
  padding-bottom: 20rem !important;
  text-align: left !important;
}
span{
  color: #F98820;
}

button{
  color: #fff;
  background-color: #00ACDB;
  border-radius: 8px !important;
}
