nav {
  content: "" !important;
  background: rgba(255, 255, 255, 0.6) !important;
  font-weight: bold;
  box-shadow: rgba(92, 92, 92, 0.33) 0 0 0 2px;
}
a.nav-link {
  margin-right: 2rem !important;
}

a.nav-link:hover,
a.nav-link:active {
  color: #f49944 !important;
}
