body {
  background-color: #dcdcdc;
}

/*nav */
nav {
  content: '' !important;
  background: rgba(255, 255, 255, 0.7) !important;
  font-weight: bold;
  box-shadow: rgba(92, 92, 92, 0.33) 0 0 0 2px;
}
a.nav-link {
  margin-right: 2rem !important;
}

a.nav-link:hover,
a.nav-link:active {
  color: #f49944 !important;
}

/* CONTENT */

.carousel-inner img {
  max-width: 100% !important;
  height: 50rem !important;
}
.carousel-caption {
  text-align: left !important;
}
span {
  color: #f98820;
}

button {
  color: #fff;
  background-color: #00acdb;
  border-radius: 8px !important;
}

/* pendaftaran*/
.btn {
  background-color: #f49944;
  margin-left: 1rem;
}

.btn:hover,
.btn:active {
  background-color: #fff !important;
  color: #f49944 !important;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: #f49944 !important;
}

.text-center.mb-5 {
  position: relative;
  right: 7rem;
}

hr {
  border-top: 5px solid rgb(255, 255, 255);
  color: #fff;
}

.px-5 {
  position: relative;
  top: 8rem;
}

@media (min-width: 1200px) {
  .tahfidz {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .webinar {
    flex: 0 0 auto;
    width: 100%;
  }
}
