* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

section {
    width:100% ;
    min-height: 70%;
    background: url(../image/bg-removebg-preview.png);
    background-size:cover;
    background-position-x: center;
    background-position-y: center;
}


.navbar-brand img {
    width: 10rem;
}

.nav-item{
    font-family: Engravers MT;
    font-size: small;
}

.nav-item a:hover,
.nav-item a.active{
    color: red !important;
}
.col {
    font-family: Engravers MT;
}

.home .col h1,h3,h5 {
    background: red;
    border-radius: .5rem;
    color: white !important;
}
.col h1{
    width: 60%;
    margin-left: 20%;
}

.col h5 {
    width: 47%;
    margin-left: 25%;
}
.col h3{
    width: 85%;
    margin-left: 8%;
}
.about {
    padding: 10rem 9%;
}

.container-about {
    background: url(../image/bg2.jpeg);
    width: 100%;
    height: 100%;
    background-size: cover;
}


.home .btn {
    background: red;
    color: white;
}

.home .btn:hover {
    color: rgb(152, 152, 152);
    background-color: white ;
    
}

.about {
    color: white;
    
    
}

.home .col h1 {
    width: 20%;
    margin-left: 40%;
}

.col h2 {
    margin: 5%;
}

.col p {
    
    font-size: x-large;
    font-style: bold;

    text-shadow: 10px ;
    
}

.about .btn {
    background-color: red
}

.about .btn:hover {
    
}

.col span {
    color: red;
}