* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

body{
    background: rgb(107, 107, 107) !important ;
}
section {
    width:100% ;
    min-height: 100%;
    background: url(../image/bg-removebg-preview.png), rgb(124, 121, 121) ;
    background-size:cover;
    background-position-x: center;
    background-position-y: center;
    margin-bottom: 10rem;
    
}


/*navbar*/
.nav-item{
    font-family: Engravers MT;
    font-size: 14px;
}

.nav-item a:hover,
.nav-item a.active{
    color: red !important;
}
.col {
    font-family: Engravers MT;
}

.dropdown-menu a {
    color: white;
    background-color: #713B3B;
    font-size: 12px;
}
.dropdown-menu a:active{
    color: red
}

/*Home*/
.home {
    padding-top: 5rem;
    color: rgb(255, 255, 255);
}
.img-thumbnail{
    background: transparent !important;
    border: 0 !important;
}
/*about*/



.container-about {
    background: url(../image/bg2.jpeg);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.about .col h2 {
    margin: 5%;
}

.about .col p {
    font-size: x-large;
    font-style: bold;
    text-shadow: 10px ;
    
}

.about .btn {
    background-color: red;
    color: white;
}

.about .btn a:hover {
    color: red;
    
}

.col span {
    color: red;
}

.btn2 {
    color: white;
    background-color: red;
}

.about .btn2 a:hover {
    color: red;
    background-color: white;
}

/* section history */

section .history1, .history2, .history3, .history4 {
    width:100% ;
    min-height: 100%;
    padding: 7rem;
    
    background: url(../image/bg-removebg-preview.png);
    background-size:cover;
    background-position-x: center;
    background-position-y: center;
}




/* history1 hiroshima*/


.history1 .col p {
    font-size: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: .3rem;
}

/* history2 nagasaki*/

.history2 .col p {
    font-size: 1rem;
   
    font-weight: bold;
   padding-block: 1rem;
    margin-inline: -5rem;
   
    
}

.history2 img {
    margin-right: 15rem;
}

