* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

section {
    width:100% ;
    min-height: 70%;
}

.navbar-brand img {
    width: 10rem;
}

.container text-center {
    display: flex !important;
}