* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

nav {
  background: linear-gradient(90deg, #045582 33.43%, #4294c2 74.37%);
}

/* project */
.container-card {
  display: flex;
  justify-content: space-around;
  padding: 5rem !important;
}
.container-card .item {
  width: 18rem;
}

/* footer */
.container-footer {
  margin: 0 !important;
}
footer {
  background: linear-gradient(90deg, #045582 33.43%, #4294c2 74.37%) !important;
}

/* responsive  mobile*/

@media screen and (max-width: 600px) {
  .container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
  }
  .container-card .item {
    background-color: aquamarine !important;
    width: 1rem !important;
    height: auto !important;
  }
}

/* responsive tab */

@media screen and (max-width: 768px) {
  .container-card {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 3rem !important;
    padding: 3rem !important;
  }
  .container-card .item {
    width: 12rem !important;
    height: auto !important;
  }
}
